*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #fffaf4;
    position: relative;
    text-decoration: black;

}

h1 {
    display: flex;
    align-items: center;

}

h2 {
    display: flex;
    align-items: center;

}

.wave-animation {
    position: absolue;
    bottom: ;
    left: ;
    right: ;

}
.wave-1 {
    transform: translateX(1000px);

}

.wave-2 {
    transform: translateX(-1500px);
    
    
}

.wave-3 {
    transform: translateX(8000px);


}